<figure class="usage">
  <figcaption>Emails sent this billing month</figcaption>

  <div class="progress-bar-container">
    <div class="progress-bar" role="progressbar" aria-valuenow="61427" aria-valuemax="100000" aria-label="Emails sent">
      <span class="progress-text">
        <span>61,427</span> / <span>100,000</span>
      </span>
      <div class="usage-bar" style="width:0%"></div>
    </div>
  </div>

  <span class="tooltip">
    <span>
      <span>Master account:</span>
      <span>16,400</span>
    </span>
    <span>
      <span>Subaccounts:</span>
      <span>27</span>
    </span>
  </span>

  <figcaption class="stats-footer">
    Mar 9, 2025 – Apr 8, 2025
    <a href="#" hx-get="templates/pages/changeplan/changeplan.html" hx-target="main" hx-swap="outerHTML">Upgrade your plan</a>
  </figcaption>
</figure>
