/* Buttons */

.button {
  font-family: 'Urania';
  -webkit-appearance: none;
  appearance: none;
  align-items: center;
  border-radius: 5px;
  transition: .05s all ease-in-out;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  padding: 6px 10px;
  color: var(--color-white);
  background: var(--app-color-button-primary-bg);
  border: 1px solid var(--app-color-button-primary-border);
  border-bottom: 1px solid var(--color-blue-302);
  box-shadow: inset 0 -1px 0 #0199e0;
  cursor: pointer;
}

@media (max-width: 767px) {
  .button.is-tertiary:not(.is-download) {
    min-height: 34px;
  }
}

.button:hover {
  background: #0097DE;
  border-color: var(--color-blue-302);
  border-bottom-color: var(--color-blue-302);
  box-shadow: inset 0 -1px 0 #008acb;
}

.button:disabled {
  opacity: .5;
  box-shadow: none;
}

.button.is-fullwidth { width: 100% }

@keyframes buttonClick {
  0%   { transform: scale(0.97) }
  100% { transform: scale(1) }
}

.button.is-connected {
  border-radius: 0 5px 5px 0;
  margin-left: -4px;
}

.button[data-open='true'],
.button:not(.is-list).was-clicked {
  animation: buttonClick 0.15s ease-in-out;
}

.button.is-secondary {
  font-weight: 500;
  color: var(--color-gray-106);
  background: var(--color-white);
  border: 1px solid var(--color-gray-103);
  box-shadow: inset 0px -1px 0px var(--color-gray-103);
}

.button.is-secondary:hover {
  border-color: var(--color-gray-104);
  box-shadow: inset 0px -1px 0px var(--color-gray-104);
}

.button.is-secondary:disabled {
  opacity: .5;
  box-shadow: none;
}

.button.is-tertiary {
  font-weight: 500;
  background: var(--color-white);
  border: 1px solid var(--color-gray-103);
  box-shadow: inset 0px -1px 0px var(--color-gray-103);
  color: #818DA0;
}

.button.is-tertiary:hover {
  border-color: var(--color-gray-104);
  box-shadow: inset 0px -1px 0px var(--color-gray-104);
}

.button.is-tertiary[data-open='true'] {
  border-color: var(--color-blue-300);
  box-shadow: 0px 0px 0px 3px rgba(1, 162, 238, 0.2), inset 0px -1px 0px rgba(1, 162, 238, 0.2);
}

.button.is-tertiary:disabled {
  opacity: .5;
  box-shadow: none;
}

.button.is-delete {
  font-weight: 500;
  color: var(--color-red-301);
  background: var(--color-red-100);
  border: 1px solid var(--color-red-201);
  box-shadow: inset 0px -1px 0px var(--color-red-201);
}

.button.is-delete:hover {
  border-color: var(--color-red-202);
  box-shadow: inset 0px -1px 0px var(--color-red-202);
}

.button.is-delete:disabled {
  opacity: .5;
  box-shadow: none;
}

.button.is-ribbon {
  background: var(--color-white);
  border: 1px solid var(--color-blue-101);
  border-bottom: 1px solid var(--color-gray-103);
  box-shadow: inset 0px -1px 0px var(--color-gray-100);
  color: #5C697C;
  font-weight: 400;
}

.button.is-ribbon:hover {
  border-color: var(--color-blue-201);
  border-bottom-color: var(--color-blue-202);
}

.button.is-ribbon[data-open='true'] {
  border-color: var(--color-blue-300);
  box-shadow: 0px 0px 0px 3px rgba(1, 162, 238, 0.2), inset 0px -1px 0px rgba(1, 162, 238, 0.2);
}

.button.is-top {
  background-color: var(--color-gray-108);
  border: 1px solid #38393E;
  box-shadow: none;
  color: var(--color-gray-102);
}

.button.is-top[data-open="true"] {
  background-color: #0f4b6a;
  border-color: var(--color-blue-300);
  box-shadow: 0px 0px 0px 3px #0075b1d9;
}

@media (max-width: 767px) {
  .button.is-top,
  .button.is-download {
    height: 33px;
    width: 33px;
  }

  .button.is-top.is-support-white,
  .button.is-top.is-account {
    background-position: center;
    background-size: 22px;
  }
}

.button.is-icon {
  background: none;
  border: none;
  box-shadow: none;
  height: 26px;
  width: 26px;
  padding: 0;
  position: relative;
  border: 1px solid transparent;
  text-indent: -999em;
  overflow: hidden;
}

.button.is-icon:before {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.button.is-icon[data-open="true"]:before {
  background: var(--color-blue-300);
}

.button.is-icon[data-open="true"] {
  background: var(--color-blue-200);
  border: 1px solid var(--color-blue-300);
  box-shadow: 0px 0px 0px 3px rgba(1, 162, 238, 0.2), inset 0px -1px 0px rgba(1, 162, 238, 0.2);
}

.button.is-close,
.icon.is-close {
  background-image: url('/static/images/icons/icon-is-close.svg');
}

.button.is-date,
.icon.is-date {
  background-image: url('/static/images/icons/icon-is-date.svg');
}

.button.is-scope,
.icon.is-scope {
  background-image: url('/static/images/icons/icon-is-scope.svg');
}

.button.is-down,
.icon.is-down {
  background-image: url('/static/images/icons/icon-is-down.svg');
}

.button.is-download,
.icon.is-download {
  background-image: url('/static/images/icons/icon-is-download.svg');
}

.button.is-download-csv,
.icon.is-download-csv {
  background-image: url('/static/images/icons/icon-is-download-csv.svg');
}

.button.is-download-xml,
.icon.is-download-xml {
  background-image: url('/static/images/icons/icon-is-download-xml.svg');
}

.button.is-download-ndjson,
.icon.is-download-ndjson {
  background-image: url('/static/images/icons/icon-is-download-ndjson.svg');
}

.button.is-filter,
.icon.is-filter {
  background-image: url('/static/images/icons/icon-is-filter.svg');
}

.button.is-info,
.icon.is-info {
  background-image: url('/static/images/icons/icon-is-info.svg');
}

.button.is-left,
.icon.is-left {
  background-image: url('/static/images/icons/icon-is-left.svg');
}

.button.is-search,
.icon.is-search {
  background-image: url('/static/images/icons/icon-is-search.svg');
}

.button.is-up,
.icon.is-up {
  background-image: url('/static/images/icons/icon-is-up.svg');
}

.button.is-options,
.icon.is-options {
  background-image: url('/static/images/icons/icon-is-options.svg');
}

.button.is-user,
.icon.is-user {
  background-image: url('/static/images/icons/icon-is-user.svg');
}

.button.is-users,
.icon.is-users {
  background-image: url('/static/images/icons/icon-is-users.svg');
}

.button.is-support,
.icon.is-support {
  background-image: url('/static/images/icons/icon-is-support.svg');
}

.button.is-support-white,
.icon.is-support-white {
  background-image: url('/static/images/icons/icon-is-support-white.svg');
}

.button.is-account,
.icon.is-account {
  background-image: url('/static/images/icons/icon-is-account.svg');
}

.button.is-book,
.icon.is-book {
  background-image: url('/static/images/icons/icon-is-book.svg');
}

.button.is-key,
.icon.is-key {
  background-image: url('/static/images/icons/icon-is-key.svg');
}

.button.is-lock,
.icon.is-lock {
  background-image: url('/static/images/icons/icon-is-lock.svg');
}

.button.is-phone,
.icon.is-phone {
  background-image: url('/static/images/icons/icon-is-phone.svg');
}

.button.is-megaphone,
.icon.is-megaphone {
  background-image: url('/static/images/icons/icon-is-megaphone.svg');
}

.button.is-search-white,
.icon.is-search-white {
  background-image: url('/static/images/icons/icon-is-search-white.svg');
}

.is-check-white,
.button.is-check-white,
.icon.is-check-white {
  background-image: url('/static/images/icons/icon-is-check-white.svg')
}

.button.is-minus,
.icon.is-minus {
  background-image: url('/static/images/icons/icon-is-minus.svg');
  background-size: 13px;
  padding-left: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.button.is-close,
.button.is-date,
.button.is-scope,
.button.is-down,
.button.is-download,
.button.is-filter,
.button.is-info,
.button.is-left,
.button.is-options,
.button.is-search,
.button.is-up,
.button.is-user,
.button.is-users,
.button.is-search-white,
.button.is-support,
.button.is-account,
.button.is-download-csv,
.button.is-download-xml,
.button.is-download-ndjson,
.button.is-support-white,
.button.is-book,
.button.is-key,
.button.is-lock,
.button.is-phone,
.button.is-megaphone {
  background-repeat: no-repeat;
  background-position: 8px center;
  padding-left: 29px;
}

.button.is-dropdown {
  background-image: url('/static/images/icons/icon-is-down.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 29px;
  width: 240px;
  text-align: left;
}

@media (max-width: 767px) {
  .button.is-download {
    height: 34px;
    width: 34px;
    padding: 15px;
    background-position: center;
  }
}

.button.is-icon.is-options {
  background: transparent;
  padding: 0;
}

@media (max-width: 767px) {

  .options-container .button.is-options {
    background: var(--color-white);
    border: 1px solid var(--color-gray-103);
    box-shadow: inset 0px -1px 0px var(--color-gray-103);
    color: #818DA0;
    height: 34px;
    width: 34px;
  }

  .options-container .button.is-options::before {
    height: 31px;
    width: 31px;
  }
}

.button.is-icon.is-options:before {
  content: '';
  display: inline-block;
  background-color: var(--color-gray-105);
  -webkit-mask-image: url(/static/images/icons/icon-is-options.svg);
  mask-image: url('/static/images/icons/icon-is-options.svg');
  mask-repeat: no-repeat;
  mask-position: center;
}

.button.is-icon.is-down {
  background: transparent;
  padding: 0;
}

.button.is-icon.is-down:before {
  content: '';
  display: inline-block;
  background-color: var(--color-gray-105);
  -webkit-mask-image: url(/static/images/icons/icon-is-down.svg);
  mask-image: url('/static/images/icons/icon-is-down.svg');
  mask-repeat: no-repeat;
  mask-position: center;
}

/* When in tables, lose some height so it doesn't make the table feel taller */
td .button {
  margin: -3px 0;
}

/* Buttons that need to look like a text link */

.button-text {
  all: unset;
  color: var(--color-blue-301);
  cursor: pointer;
}
