#toaster {
  position: fixed;
  top: 57px;
  right: 25px;
  z-index: 30;
  pointer-events: none;
}

.notice {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 420px;
  filter: drop-shadow(0px 1px 1px #BECFD9) drop-shadow(0px 3px 5px #DEE8EE);
  border-radius: 10px;
  padding: 14px 18px;
  gap: 2px;
  background: #FFFFFF;
  border: 1px solid #DEE8EE;
  animation: notice-enter 8s forwards;
  transform: scale(0.99) translateX(460px);
  margin-bottom: 5px;
  overflow: hidden;
}

.notice h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #38393E;
}

.notice p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C697C;
}

@media screen and (max-width: 767px) {
  
  #toaster {
    top: 70px;
  }

  .notice {
    width: 100%;
    margin-left: 13px;
  }
}

@keyframes notice-enter {
  0% {
    transform: scale(0.99) translateX(460px)
  }

  5% {
    transform: scale(1) translateX(0)
  }

  95% {
    transform: scale(1) translateX(0)
  }

  100% {
    transform: scale(0.99) translateX(460px)
  }
}

.notice[data-type="success"] {
  background-color: var(--color-green-100);
  border: 1px solid var(--color-green-201);
  border-bottom-color: var(--color-green-202);
  border-left-color: var(--color-green-300);
}

.notice[data-type="success"] h2 {
  color: #447968
}

.notice[data-type="success"] p {
  color: var(--color-green-203)
}

.notice[data-type="success"]:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-green-300);
}

/* notice inside a panel */

.notice-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 14px 18px;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  justify-content: center;
  background-position: 15px 15px;
  padding-left: 40px;
}

.notice-panel.is-info {
  color: var(--color-gray-106);
  background-color: var(--color-blue-100);
  border-color: var(--color-gray-102);
  background-image: url('/static/images/icons/icon-is-info.svg');
  background-repeat: no-repeat;
}

.notice-panel.is-error {
  color: var(--color-red-301);
  background-color: var(--color-red-100);
  border-color: var(--color-red-102);
  background-image: url('/static/images/icons/icon-is-error.svg');
  background-repeat: no-repeat;
  background-size: 16px;
}
