/* whole page wrapper */
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Urania';
}

/* Main content area */
main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  gap: 25px;
  background: var(--color-gray-100);
  overflow-y: clip;
}

@media (min-width: 1000px) {

  main {
    grid-row: 2;
    grid-column: 2;
    order: 1;
    padding: 25px;
  }
}

@media (max-width: 767px) {
  
  main {
    padding-bottom: 0;
  }
}
