/* side nav */
aside#navigation {
  background: linear-gradient(90deg, #323339 50%, #29292d 100%);
  z-index: 1;
}

aside#navigation a {
  color: var(--color-gray-102);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  opacity: 0.75;
  text-decoration: none;
  display: block;
  padding: 8px 18px 8px 40px;
}

@media (max-width: 999px) {

  aside#navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    padding-top: 60px;
    left: -250px;
    transition: .15s all ease-in-out;
    border-radius: 0 20px 20px 0;
    overflow-y: auto;
  }
}

@media (min-width: 1000px) {
  
  aside#navigation {
    grid-row: 2;
    order: 0;
  }
}

/* Show side nav on small screens */
@media (max-width: 999px) {

  /* Slide into view */
  aside#navigation[data-open="true"] {
    left: 0;
    z-index: 100;
  }

  aside#navigation[data-open="true"]::after {
    content: "";
    position: fixed;
    background: linear-gradient(90deg, #323339 50%, #29292d 100%);
    width: 250px;
    height: 60px;
    top: 0;
    z-index: 401;
    border-radius: 0 19px 0 0;
  }

  /* Backdrop that dims the other stuff on the page */
  .nav-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    transition: .15s all ease-in-out;
    pointer-events: none;
    z-index: 90;
  }

  /* Make the backdrop visible when the nav is open */
  body:has(aside#navigation[data-open="true"]) .nav-bg {
    opacity: .5;
    pointer-events: auto;
  }

  aside#navigation a {
    padding-left: 22px;
  }
}

/* Parent aside#navigation items */
li[data-open] {
  overflow: hidden;
}

li[data-open]>a {
  background: #1c1c1f;
  position: relative;
  z-index: 1;
}

li[data-open]>a:hover {
  background: black
}

li[data-open]>ul {
  overflow: hidden;
  transition: .2s all ease-in-out;
  transform: translateY(0);
  padding-bottom: 10px;
  max-height: 500px;
}

/* Collapse lists if they're not open */
li[data-open="false"]>ul {
  transform: translateY(-100px);
  pointer-events: none;
  opacity: 0;
  max-height: 0;
}

/* Child aside#navigation items */
li:not(:has(ul))>a {
  opacity: .7
}

li:not(:has(ul))>a:hover {
  background: #818da042
}

/* Parent is highlighted if child is active */
aside#navigation li:has(ul li[data-active="true"])>a {
  color: var(--color-gray-100);
  background: var(--color-gray-105);
  opacity: 1;
}

aside#navigation li:has(ul li[data-active="true"])>a:hover {
  color: var(--color-gray-100);
  background: #8c99ae;
  opacity: 1;
}

aside#navigation li:has(ul li[data-active="true"])>ul li:not([data-active="true"]) a:hover {
  opacity: .9
}

aside#navigation:hover li:has(ul li[data-active="true"])>ul {
  background: #818da042
}

/* Child is highlighted if active */
aside#navigation ul li[data-active="true"]>a {
  background: var(--color-blue-300);
  color: var(--color-white);
  opacity: 1;
}
