.tooltip {
  color: var(--color-gray-106);
  background: var(--color-white);
  border: 1px solid var(--color-gray-102);
  border-radius: 10px;
  padding: 5px 8px;
  display: inline-block;
  position: absolute;
}

.tooltip::after {
  content: '';
  background: var(--color-white);
  box-shadow: 1px 1px 1px #BECFD9;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  bottom: -6px;
  transform: rotate(45deg);
  transition: .1s all ease-in-out;
  pointer-events: none;
}

.tooltip:not(.tooltip-demographics-map) {
  box-shadow: 0px 1px 1px #BECFD9, 0px 3px 5px #DEE8EE, inset 0px -1px 0px var(--color-gray-100);
  opacity: 0;
  pointer-events: none;
  transition: .1s all ease-in-out;
  z-index: 10;
}

.tooltip:not(.tooltip-demographics-map)::after {
  left: 60%;
}

.tooltip-demographics-map {
  box-shadow: 0px 1px 1px #BECFD9, inset 0px -1px 0px var(--color-gray-100);
  animation: fadeMoveIn 150ms ease forwards;
}

.tooltip.tooltip-demographics-map::after {
  left: calc(50% - 6px);
}

@keyframes fadeMoveIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

td .tooltip {
  right: -42px;
  top: -22px;
}

.stats .progress-bar-container + .tooltip {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 12px;
}

.stats .progress-bar-container + .tooltip::after {
  top: -6px;
  bottom: unset;
  left: 18px;
  transform: rotate(225deg);
}

.stats:not(.stats-floating) .progress-bar-container + .tooltip {
  top: 80px;
  left: 18px;
}

.stats-floating .progress-bar-container + .tooltip {
  top: 70px;
  left: 0;
}

.stats .progress-bar-container + .tooltip > span {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

td:hover .tooltip,
.stats .progress-bar-container:hover + .tooltip {
  opacity: 1;
  pointer-events: auto;
}

td:hover .tooltip {
  top: -26px;
}

.stats:not(.stats-floating) .progress-bar-container:hover + .tooltip {
  top: 75px;
}

.stats-floating .progress-bar-container:hover + .tooltip {
  top: 58px;
}

@media (max-width: 767px) {
  
  .tooltip {
    left: 9px;
    top: -28px;
  }
  
  td:hover .tooltip {
    top: -32px;
  }
  
  .tooltip::after {
    width: 8px;
    height: 8px;
    bottom: -4px;
  }
}