:root {
  --font-heading: "Urania", sans-serif;
  --font-body: "Urania", sans-serif;
  --font-code: "Fira Code Mono", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-medium: 500;

  --color-white: #fff;
  --color-black: #000;

  --color-gray-090: #fafbfc;
  --color-gray-100: #f6f8fa;
  --color-gray-101: #ecf2f8;
  --color-gray-102: #dee8ee;
  --color-gray-112: #dbe4ea;
  --color-gray-103: #becfd9;
  --color-gray-104: #abb5c4;
  --color-gray-105: #818da0;
  --color-gray-106: #5c697c;
  --color-gray-107: #454f5d;
  --color-gray-108: #38393e;

  --color-blue-100: #eaf6fe;
  --color-blue-101: #dce8f0;
  --color-blue-102: #ccdae3;
  --color-blue-103: #7d8590;
  --color-blue-200: #def2ff;
  --color-blue-201: #b1d8f0;
  --color-blue-202: #a3c9e0;
  --color-blue-203: #6393c3;
  --color-blue-300: #01a2ee;
  --color-blue-301: #008dd6;
  --color-blue-302: #0075b1;

  --color-red-100:  #fff9f8;
  --color-red-101:  #f3a79a;
  --color-red-102:  #dd9387;
  --color-red-103:  #a39191;
  --color-red-200:  #ffd4cc;
  --color-red-201:  #dbaba1;
  --color-red-202:  #c8968c;
  --color-red-203:  #9e6e64;
  --color-red-300:  #ce715f;
  --color-red-301:  #a7594b;
  --color-teal-100: #f4fbfc;
  --color-teal-101: #d8e3e5;
  --color-teal-102: #c3d1d4;
  --color-teal-103: #8a9a9d;
  --color-teal-200: #d1eff1;
  --color-teal-201: #b7d8da;
  --color-teal-202: #99c2c5;
  --color-teal-203: #639598;
  --color-teal-204: #73d9e1;
  --color-teal-300: #12becb;
  --color-teal-301: #00a2b4;
  --color-yellow-100: #fcf5e8;
  --color-yellow-101: #cfc5b3;
  --color-yellow-102: #beb4a3;
  --color-yellow-103: #a09281;
  --color-yellow-200: #fff5cf;
  --color-yellow-201: #dcd1a7;
  --color-yellow-202: #c3b88e;
  --color-yellow-203: #9a9068;
  --color-yellow-300: #e2b466;
  --color-yellow-301: #c89948;
  --color-green-100: #f2fff6;
  --color-green-101: #d9eee0;
  --color-green-102: #c6dbcd;
  --color-green-103: #7f9686;
  --color-green-200: #e2f8e8;
  --color-green-201: #b0d6c9;
  --color-green-202: #9ac1b4;
  --color-green-203: #558b7a;
  --color-green-300: #00ba7a;
  --color-green-301: #00a56c;
  --color-slate-100: #f4f6f6;
  --color-slate-101: #dfe4e4;
  --color-slate-102: #d1d7d7;
  --color-slate-103: #909797;
  --color-slate-200: #dae5e5;
  --color-slate-201: #c0d0d0;
  --color-slate-202: #b0c0c0;
  --color-slate-203: #778383;
  --color-slate-300: #a9c1c1;
  --color-slate-301: #8ea8a8;
  --color-burgundy-300: #a64a39;
  --color-burgundy-301: #8d3c2e;
  --color-mustard-300: #b3812e;
  --color-mustard-301: #97691c;
  --color-purple-300: #b57ad4;
  --color-purple-301: #9f67bd;

  --app-color-background: var(--color-gray-100);
  --app-color-nav: var(--color-gray-108);
  --app-color-top: var(--color-black);
  --app-color-button-primary-bg: var(--color-blue-300);
  --app-color-button-primary-border: var(--color-blue-301);
  --app-color-button-primary-text: var(--color-white);
  --app-color-button-secondary-bg: var(--color-white);
  --app-color-button-secondary-border: var(--color-gray-103);
  --app-color-button-secondary-text: var(--color-gray-106);
  --app-color-button-tertiary-bg: var(--color-white);
  --app-color-button-tertiary-border: var(--color-gray-103);
  --app-color-button-tertiary-text: var(--color-gray-105);
  --app-color-header: var(--color-gray-108);
  --app-color-header-disabled: var(--color-gray-105);
}
